<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="MainTest">
        <classes>
            <class name="TestCases.TC1_Search" />
            <class name="TestCases.TC2_ResultText" />
            <class name="TestCases.TC3_WrongSearch" />
        </classes>
    </test>
</suite>
